/*浅色*/
$my_light_red: #F4AFBD;
$my_light_purple: #C58BF8;
$my_light_blue: #5999E3;
$my_light_green: #93D6CF;
$my_light_orange: #F9D786;
$my_light_black: #5A6273;
/*深色*/
$my_dark_red: #EF8598;
$my_dark_purple: #A46FF7;
$my_dark_blue: #458BDD;
$my_dark_green: #67CCB5;
$my_dark_orange: #F6CD42;
$my_dark_black: #1C263D;
/*命名颜色*/
$my_red_purple: #C33280;
$my_background_gray: #E7E8EB
